<html>
	<head>
		<title>
			About: ProNeo File Uploader
		</title>
	</head>
	<body>
	  <h4 style="float:right"><a href="/">Home</a></h4>
		<h3>ProNeo - File Uploader</h3>	
		<p>
			Building File Uploader using NodeJs aiming to use WebSockets, 
			WebWorkers, ReactJS along with HTML5 File API. Planning to have 
			more than one server and multithreaded file upload from client browser.
		</p>
		<p>
		  Ambitious to explore Google Protocol Buffer and explore the improvement options.
		</p>
		<h3>TODO: Build a Readme here to record your progress</h3>
	</body>
</html>