<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>File Uploader</title>
    <script src="javascripts/libs/jquery/jquery-1.8.2.min.js"></script>
    <script src="javascripts/file_uploader.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/file_uploader.css">
  </head>
  <body>
    <div id="activefiles"><span id="files_watermark" class="files_watermark">Active Files</span></div>
    <div id="proneo_log">
      <span id="clear_log">Clear</span><br>
      <span id="proneo_log_content" class="logs">...</span>
    </div>
    <span id="drop_watermark" class="drop_and_drag_watermark">Drag &amp; Drop</span>
  </body>
</html>